#buttons{
    margin-bottom: 40%;
    text-align: center;
}
.btn{
    width: 30%;
    height: 30px;
    margin-top: 10px;
}

#select, #time_set {
    visibility: hidden;
}
.text{
    margin-top: 10%;
    text-align: center;
}

#timer {
    margin-bottom: 100px;
}